# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Test/coverage
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# pnpm cache (valgfritt)
.pnpm-store/

!dist/